.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

/* highlight right & wrong answers */
.answer-item {
  padding: 10px;
}

.selected {
  border: 1px solid #333;
  background-color: #eee;
}

.selected.right , .give-up {
  border: 1px solid rgb(35, 63, 35);
  background-color:  rgb(172, 240, 172);
}

.selected.wrong {
  border: 1px solid rgb(248, 6, 6);
  background-color:  rgb(243, 185, 185);
}

/* show score  */
.user-score {
  display: none;
}